/*  Reset inicial de espacios, para luego poner los espacion como yo quiero */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
}

.bgInicio{
    background-color: #B3EEF5;
}

.bgNosotros{
    background-color: #E6C1F5;
}

.bgServicios{
    background-color: #CCF1F5;
}

.bgEjemplos{
    background-color: #F5E5DA;
}

.bgContacto{
    background-color: #EDF5D7;
}

#header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#logo {
    display: inline-block;
    margin-right: 20px;
}

#nav {
    display: inline-block;
    text-size-adjust: 3rem;
    margin-left: auto;
}

#nav a {
    color: blue;
    margin-right: 20px;
    font-size: 2rem;
}

.contenedor1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carrusel {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    width: 760px;
}

.imagen {
    display: inline-block;
    border-radius: 15px;
    vertical-align: middle;
    margin: 20px;
}

.texto {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 360px;
    height: 240px;
    vertical-align: middle;
    font-size: 3rem;
    margin: 20px;
}

.texto2 {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 760px;
    height: 100px;
    vertical-align: middle;
    font-size: 2rem;


}

.linea1 {
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 760px;
    margin: auto;
}

.icono_separador {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 30px;
    z-index: 1;
}

.contenedor2 {
    position: relative;
}

.iframe {
    border-radius: 15px;
    width: 760px;
}

label {
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

button {
    font-size: 2rem;
}

.mensaje {
    width: 480px;
    height: 240px;
}