.mi_textarea {
  height: 200px;
  width: 100%;
}

.mi_btn_enviar {
  width: 100px;
}

#powerbi-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;

  /* para relacion 16:9 */
}

/* estilo iframe dentro del contenedor */
  #powerbi-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
