.mi_textarea{
    height: 200px; 
    width: 100%; 
  }

.mi_btn_enviar{
    width: 100px;
}


  
#powerbi{
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 90%;
  min-height: 400px;
}