.mi_textarea{
    height: 200px; 
    width: 100%; 
  }

.mi_btn_enviar{
    width: 100px;
}


.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 83%;
  border: none;
}

#powerbi{
  width: 100%;
}